$accent: #3164f4;
$title-color: #ffffff;
$heading-of-parargraph-color: #c5c5c5;
$main-text-color: #030303;
$secondary-text-color: #7f7f7f;
$every-first-bg-color: #232323;
$background-color: #ededed;
$bezier: cubic-bezier(0.4, 0, 0.2, 1);