.webinar{
    margin-bottom: 100px;
}

.webinar h1,
.countdown__timer {
  text-align: center;
  font-size: 64px;
  color: white;
}

.countdown__timer {
  text-align: left;
  font-size: 48px;
}

.webinar > .container {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  a{
    @include button;
    color: #fff;
    padding: 18px 20px;
  }
}
@media screen and (min-width: 869px) {
  .webinar {
    height: 100vh;
    margin: 0 auto;
    padding: 0;
  }

  .webinar__bg-video {
    width: 100vw;
    padding: 0;
  }
}

@media screen and (max-width: 868px) {
  .webinar {
    height: 100%;
    padding: 0;
  }

  .webinar > video {
    display: flex;
    justify-content: flex-start;
  }

  // .webinar>.container {
  //   margin: auto;
  //   margin-top: -239px;
  //   position: absolute;
  //   left: 50%;
  //   margin-left: -150px;
  //   top: 50%;
  //   margin-top: -50px;

  // }

  .webinar h1 {
    font-weight: 900;
  }

  .webinar__bg-video {
    width: 100%;
    // margin-top: -200px;
  }
}

@media screen and (max-width: 668px) {
  .webinar {
    height: 100vh;
    padding: 0;
  }

  .webinar__bg-video {
    padding: 0;
    width: 100%;
  }
  .webinar h1 {
    font-size: 48px;
  }

  .countdown__timer {
    font-size: 36px;
  }
}

@media screen and (max-width: 592px) {
  .webinar__bg-video {
    width: 100%;
    // margin-top: -100px;
  }
}

@media screen and (max-width: 480px) {
  .webinar__bg-video {
    width: 100%;
    // margin-top: 0px;
  }
}

// .footer {
//   position: relative;
// }

/* .container-counter {
  margin: 0 auto;
} */
