.contact {
  .img-wrapper {
    display: block;
    min-width: 100px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: $box-shadow;
    border-radius: 30px;
    margin-bottom: 50px;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}